h1{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight:900;
}

p{
    font-family: 'PT Mono', monospace;
}

a{
    color:black;
    text-decoration:none;
    font-family: 'PT Mono', monospace;
}

header{
    height:10vh;
    background-color:white;
}

.logo{
    width:fit-content;
    padding:1rem;
    margin-left:10vw;
}



footer{
    width:97.5%;
    background-color:white;
    position:absolute;
    bottom: 0;
    padding:1rem;
}

    .nav{
        display: flex;
        justify-content: space-between;
    }

    .navbox{
        display:flex;
    }

    .navbox a{
        padding-right:1rem;
    }